<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hit.soft.dao.BossManageMapper">
	
	<select id="countStaffs" resultType="Integer">
		SELECT COUNT(*)
		FROM staff_table
		WHERE dismiss = 0
	</select>
	
	<select id="queryStaff" resultType="Staff">
		SELECT staff_id,staff_name,role,pass
		FROM staff_table
		WHERE dismiss = 0
		LIMIT #{offset}, #{limit}
	</select>
	
	<update id="deleteStaff" parameterType="String">
		UPDATE staff_table
		set dismiss = 1
		WHERE staff_id = #{staffId}
	</update>
	
	<update id="updateStaff" parameterType="Staff">
		UPDATE staff_table
		SET role = #{role}, pass = #{pass}
		WHERE staff_id = #{staff_id}
	</update>
	
	<insert id="addStaff" parameterType="Staff">
		INSERT INTO staff_table VALUES(0,#{staff_name},#{role},#{pass},0)
	</insert>
	
</mapper>