<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hit.soft.dao.ManagerProfileMapper">
	
	<select id="countQueryProducts" parameterType="String" resultType="Integer">
		SELECT COUNT(*)
		FROM product_table
		WHERE product_name LIKE CONCAT("%", #{query}, "%")
	</select>
	
	<select id="queryProducts" resultType="Product">
		SELECT product_id, product_name, type, unit, purchase_price, wholesale_price, retail_price
		FROM product_table
		WHERE product_name LIKE CONCAT("%", #{query}, "%")
		LIMIT #{page}, #{limit}
	</select>
	
	<select id="countQueryClients" parameterType="String" resultType="Integer">
		SELECT COUNT(*)
		FROM client_table
		WHERE client_name LIKE CONCAT("%", #{query}, "%") OR phone = #{query}
	</select>
	
	<select id="queryClients" resultType="Client">
		SELECT client_id, client_name, sex, phone, address, wallet
		FROM client_table
		WHERE client_name LIKE CONCAT("%", #{query}, "%") OR phone = #{query}
		LIMIT #{page}, #{limit}
	</select>
	
	<insert id="addProduct" parameterType="Product">
		INSERT INTO product_table(product_id, product_name, type, unit, purchase_price, wholesale_price, retail_price)
		VALUES(0, #{product_name}, #{type}, #{unit}, #{purchase_price}, #{wholesale_price}, #{retail_price})
	</insert>
	
	<insert id="addClient" parameterType="Client">
		INSERT INTO client_table(client_id, client_name, sex, phone, address, wallet)
		VALUES(0, #{client_name}, #{sex}, #{phone}, #{address}, 0)
	</insert>
	
	<update id="updateProduct" parameterType="Product">
		UPDATE product_table
		SET product_name = #{product_name}, type = #{type}, unit = #{unit},
		purchase_price = #{purchase_price}, wholesale_price = #{wholesale_price}, retail_price = #{retail_price}
		WHERE product_id = #{product_id}
	</update>
	
	<update id="updateClient" parameterType="Client">
		UPDATE client_table
		SET client_name = #{client_name}, sex = #{sex}, phone = #{phone}, address = #{address},
		wallet = #{wallet}
		WHERE client_id = #{client_id}
	</update>
	
	<insert id="addDepot">
		INSERT INTO depot_prod_table(depot_prod_pri, depot_name, product_id, count)
		VALUES(0, "仓库", (SELECT LAST_INSERT_ID()), 0), (0, "门店", (SELECT LAST_INSERT_ID()), 0)
	</insert>
	
	<select id="queryRate" resultType="Double">
		SELECT wallet FROM points_table WHERE points_id = 1
	</select>
	
	<update id="updateRate" parameterType="Double">
		UPDATE points_table
		SET wallet = #{rate}
		WHERE points_id = 1
	</update>
	
	<select id="queryPoints" resultType="Client">
		SELECT points_id client_id, points, wallet FROM points_table WHERE points_id != 1
	</select>
	
</mapper>