<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hit.soft.dao.ManagerDepotMapper">
	
	<select id="countQueryProducts" parameterType="String" resultType="Integer">
		SELECT COUNT(*)
		FROM depot_prod_table d, product_table p
		WHERE p.product_name LIKE CONCAT("%", #{query}, "%")
		AND p.product_id = d.product_id
	</select>
	
	<select id="queryProducts" resultType="ProductDepot">
		SELECT p.product_id, p.product_name, p.type, p.unit, d.depot_name, d.count
		FROM depot_prod_table d, product_table p
		WHERE p.product_name LIKE CONCAT("%", #{query}, "%")
		AND p.product_id = d.product_id
		LIMIT #{page}, #{limit}
	</select>
	
	<select id="countProductDepot" parameterType="Integer" resultType="Integer">
		SELECT SUM(count) FROM depot_prod_table
		WHERE product_id = #{product_id}
	</select>
	
	<select id="queryProductPurchase" parameterType="Integer" resultType="Double">
		SELECT purchase_price FROM product_table
		WHERE product_id = #{product_id}
	</select>
	
	<update id="updateProductPurchase">
		UPDATE product_table
		SET purchase_price = #{purchase_price}
		WHERE product_id = #{product_id}
	</update>
	
	<insert id="addDepotHistory">
		INSERT INTO depot_in_table(depot_in_pri, product_id, count, in_price, depot_name, time)
		VALUES(0, #{product_id}, #{count}, #{in_price}, #{depot_name}, #{time})
	</insert>
	
	<update id="turnoverDepot">
		UPDATE depot_prod_table
		SET count = count + #{number}
		WHERE product_id = #{product_id} AND depot_name = #{depot_name}
	</update>
	
	<update id="transferOldDepot">
		UPDATE depot_prod_table
		SET count = count - #{number}
		WHERE product_id = #{product_id} AND depot_name = #{old_depot}
	</update>
	
	<update id="transferNewDepot">
		UPDATE depot_prod_table
		SET count = count + #{number}
		WHERE product_id = #{product_id} AND depot_name = #{new_depot}
	</update>
	
	<select id="countQueryDepot" parameterType="String" resultType="Integer">
		SELECT COUNT(*)
		FROM depot_prod_table d, product_table p
		WHERE d.depot_name = #{depot_name}
		AND p.product_id = d.product_id
	</select>
	
	<select id="queryDepot" resultType="ProductDepot">
		SELECT p.product_id, p.product_name, p.type, p.unit, d.depot_name, d.count
		FROM depot_prod_table d, product_table p
		WHERE d.depot_name = #{depot_name}
		AND p.product_id = d.product_id
		LIMIT #{page}, #{limit}
	</select>
	
	<update id="confirmDepot">
		UPDATE depot_prod_table
		SET count = #{number}
		WHERE product_id = #{product_id} AND depot_name = #{depot_name}
	</update>
	
</mapper>