<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hit.soft.dao.StaffOrderMapper">
	
	<select id="getLastId" resultType="Integer">
		SELECT LAST_INSERT_ID();
	</select>
	
	<insert id="addOrder" parameterType="Order">
		INSERT INTO order_table(create_time, client_id, order_sale_price, order_purchase_price, order_profit, state, wholesale_order)
		 VALUES(#{create_time}, #{client_id}, #{order_sale_price}, #{order_purchase_price}, #{order_profit}, #{state}, #{wholesale_order})
	</insert>
	
	<insert id="addProduct" parameterType="Product">
		INSERT INTO order_prod_table(order_id, product_id, count, bonus)
		VALUES(#{order_id}, #{product_id}, #{count}, #{bonus})
	</insert>
	
	<select id="getDraft" resultMap="mymap">
		SELECT o.order_id, o.create_time, o.client_id, c.client_name, p.product_id, p.count, p.bonus, pd.product_name, pd.type, pd.unit, pd.purchase_price, pd.wholesale_price
		FROM order_table o, order_prod_table p, client_table c, product_table pd
		WHERE o.state = "draft" AND o.order_id = p.order_id AND o.client_id = c.client_id AND p.product_id = pd.product_id
	</select>
	
	<delete id="deleteDraft">
		DELETE order_table, order_prod_table
		FROM order_table LEFT JOIN order_prod_table ON order_table.order_id = order_prod_table.order_id
		WHERE order_table.state = "draft"
	</delete>
	
	<delete id="deleteOrder" parameterType="Integer">
		DELETE order_table, order_prod_table
		FROM order_table LEFT JOIN order_prod_table ON order_table.order_id = order_prod_table.order_id
		WHERE order_table.order_id = #{orderId}
	</delete>
	
	<select id="countClients" resultType="Integer">
		SELECT COUNT(*)
		FROM client_table
		WHERE client_id != 1
	</select>
	
	<select id="searchClients" resultType="Client">
		SELECT client_id, client_name, sex, phone, address, wallet 
		FROM client_table
		WHERE client_id != 1
		LIMIT #{offset}, #{limit}
	</select>
	
	<select id="countClientsById" parameterType="Integer" resultType="Integer">
		SELECT COUNT(*)
		FROM client_table
		WHERE client_id LIKE CONCAT("%", #{clientId}, "%") AND client_id != 1
	</select>
	
	<select id="countClientsByName" parameterType="String" resultType="Integer">
		SELECT COUNT(*)
		FROM client_table
		WHERE client_name LIKE CONCAT("%", #{clientName}, "%") AND client_id != 1
	</select>
	
	<select id="searchClientById" resultType="Client">
		SELECT client_id, client_name, sex, phone, address, wallet
		FROM client_table
		WHERE client_id = #{clientId} AND client_id != 1
	</select>
	
	<select id="searchClientsById" resultType="Client">
		SELECT client_id, client_name, sex, phone, address, wallet
		FROM client_table
		WHERE client_id LIKE CONCAT("%", #{clientId}, "%") AND client_id != 1
		LIMIT #{offset}, #{limit}
	</select>
	
	<select id="searchClientsByName" resultType="Client">
		SELECT client_id, client_name, sex, phone, address, wallet
		FROM client_table
		WHERE client_name LIKE CONCAT("%", #{clientName}, "%") AND client_id != 1
		LIMIT #{offset}, #{limit}
	</select>
	
	<select id="countProducts" resultType="Integer">
		SELECT COUNT(*)
		FROM product_table
	</select>
	
	<select id="searchProducts" resultType="Product">
		SELECT p.product_id, p.product_name, p.type, p.unit, p.purchase_price, p.wholesale_price, SUM(d.count) count
		FROM product_table p, depot_prod_table d
		where p.product_id = d.product_id
		GROUP BY product_id
		LIMIT #{offset}, #{limit}
	</select>
	
	<select id="countProductsById" resultType="Integer">
		SELECT COUNT(*)
		FROM product_table
		WHERE product_id LIKE CONCAT("%", #{productId}, "%")
	</select>
	
	<select id="countProductsByName" resultType="Integer">
		SELECT COUNT(*)
		FROM product_table
		WHERE product_name LIKE CONCAT("%", #{productName}, "%")
	</select>
	
	<select id="searchProductsById" resultType="Product">
		SELECT p.product_id, p.product_name, p.type, p.unit, p.purchase_price, p.wholesale_price, SUM(d.count) count
		FROM product_table p, depot_prod_table d
		where p.product_id = d.product_id AND p.product_id LIKE CONCAT("%", #{productId}, "%")
		GROUP BY product_id
		LIMIT #{offset}, #{limit}
	</select>
	
	<select id="searchProductsByName" resultType="Product">
		SELECT p.product_id, p.product_name, p.type, p.unit, p.purchase_price, p.wholesale_price, SUM(d.count) count
		FROM product_table p, depot_prod_table d
		where p.product_id = d.product_id AND p.product_name LIKE CONCAT("%", #{productName}, "%")
		GROUP BY product_id
		LIMIT #{offset}, #{limit}
	</select>
	
	<select id="completeProduct" resultType="Product">
		SELECT product_id, product_name, type, unit, purchase_price, wholesale_price
		FROM product_table
		WHERE product_id = #{product_id}
	</select>

	<select id="countUnpaidOrder" resultType="Integer">
		SELECT COUNT(*)
		FROM order_table
		WHERE state = "approved" OR state = "unpaid_delivered"
	</select>
	
	<select id="searchUnpaidOrder" resultType="Order">
		SELECT o.order_id, o.client_id, o.create_time, o.order_sale_price, o.order_purchase_price, o.order_profit, c.client_name
		FROM order_table o, client_table c
		WHERE (state = "approved" OR state = "unpaid_delivered") AND o.client_id = c.client_id
		LIMIT #{offset}, #{limit}
	</select>
	
	<select id="countPaidOrder" resultType="Integer">
		SELECT COUNT(*)
		FROM order_table
		WHERE (state = "paid_undelivered" OR state = "paid_delivered") AND wholesale_order = 1
	</select>
	
	<select id="searchPaidOrder" resultType="Order">
		SELECT o.order_id, o.create_time, o.pay_time, o.client_id, o.order_sale_price, o.order_purchase_price, o.order_profit, c.client_name
		FROM order_table o, client_table c
		WHERE (state = "paid_undelivered" OR state = "paid_delivered") AND wholesale_order = 1 AND o.client_id = c.client_id 
		LIMIT #{offset}, #{limit}
	</select>
	
	<select id="countRejectedOrder" resultType="Integer">
		SELECT COUNT(*)
		FROM order_table
		WHERE state = "rejected"
	</select>
	
	<select id="searchRejectedOrder" resultType="Order">
		SELECT o.order_id, o.create_time, o.pay_time, o.client_id, o.order_sale_price, o.order_purchase_price, o.order_profit, c.client_name
		FROM order_table o, client_table c
		WHERE state = "rejected" AND o.client_id = c.client_id 
		LIMIT #{offset}, #{limit}
	</select>
	
	
	<select id="searchOrderProduct" resultMap="mymap" >
		SELECT o.order_id, o.create_time, o.client_id, c.client_name, p.product_id, p.count, p.bonus, pd.product_name, pd.type, pd.unit, pd.purchase_price, pd.wholesale_price
		FROM order_table o, order_prod_table p, client_table c, product_table pd
		WHERE o.order_id = #{orderId} AND o.order_id = p.order_id AND o.client_id = c.client_id AND p.product_id = pd.product_id
	</select>
	<resultMap type="OrderProduct" id="mymap">
		<id column="order_id" property="order_id"/>
		<result column="create_time" property="create_time"/>
		<result column="client_id" property="client_id"/>
		<result column="client_name" property="client_name"/>
		<collection property="products" ofType="Product" column="class_id">
			<id column="product_id" property="product_id"/>
			<result column="product_name" property="product_name"/>
			<result column="type" property="type"/>
			<result column="unit" property="unit"/>
			<result column="purchase_price" property="purchase_price"/>
			<result column="wholesale_price" property="wholesale_price"/>
			<result column="count" property="count"/>
			<result column="order_id" property="order_id"/>
			<result column="bonus" property="bonus"/>
		</collection>
	</resultMap>
	
	<select id="searchOrder" resultType="Order" >
		SELECT order_id, create_time, pay_time, return_time, client_id, order_sale_price,
		 order_purchase_price, order_profit, state, wholesale_order
		FROM order_table
		WHERE order_id = #{orderId}
	</select>
	
	<update id="updateOrder" parameterType="Order">
		UPDATE order_table
		SET create_time = #{create_time}, pay_time = #{pay_time}, return_time = #{return_time},
		order_sale_price = #{order_sale_price}, order_purchase_price = #{order_purchase_price},
		order_profit = #{order_profit}, state = #{state}
		WHERE order_id = #{order_id}
	</update>
	
	<update id="saveMoney" parameterType="Client">
		UPDATE client_table
		SET wallet = wallet + #{wallet}
		WHERE client_id = #{client_id}
	</update>
	
</mapper>